body {
	background: white; margin: 0; padding: 0;
} 
a {
	color: #2b2bf6;
}           
#container {
	margin: 0 auto; background: #8be0ef;
}           
#header {
	margin: 0 auto; background: #f346e1;
}           
           
#content {
	margin: 0 auto; background: #8be0ef;
}           
#footer {
	margin: 0 auto; background: #000000; clear:both;
}                          

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: right;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
}
p {
	font-family: sans-serif;
	color: #0000FF;
	
h1 }
	font-family: sans-serif;
	color:  dark blue
}

h2{
	font-family: sans-serif;
	color: dark blue
} 
